{% extends "mailings/base.html" %}

{% block title %}Подтверждение удаления{% endblock %}

{% block content %}
<div class="container">
    <h2>Подтверждение удаления клиента</h2>
    <p>Вы уверены, что хотите удалить клиента "{{ client.full_name }}"?</p>
    <dl class="row">
        <dt class="col-sm-3">Контактный email</dt>
        <dd class="col-sm-9">{{ client.email }}</dd>

        <dt class="col-sm-3">Телефон</dt>
        <dd class="col-sm-9">{{ client.phone_number }}</dd>

        <dt class="col-sm-3">Комментарий</dt>
        <dd class="col-sm-9">{{ client.comment }}</dd>
    </dl>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a href="{% url 'client_detail' client.pk %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
