{% extends "mailings/base.html" %}

{% block title %}{{ form.instance.pk|default:"Создание новой рассылки" }}{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ form.instance.pk|default:"Создание новой рассылки" }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_title" class="form-label">Название</label>
            {{ form.title|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_send_time" class="form-label">Дата и время первой отправки</label>
            {{ form.send_time|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_frequency" class="form-label">Периодичность</label>
            {{ form.frequency|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_message" class="form-label">Сообщение</label>
            {{ form.message|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_clients" class="form-label">Клиенты</label>
            {{ form.clients|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{% url 'mailing_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
