{% extends "mailings/base.html" %}

{% block title %}Подтверждение удаления попытки рассылки{% endblock %}

{% block content %}
<div class="container">
    <h2>Подтверждение удаления попытки рассылки</h2>
    <p>Вы уверены, что хотите удалить попытку рассылки от {{ mailing_attempt.attempt_time }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a href="{% url 'mailings:mailingattempt_detail' mailing_attempt.pk %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
