{% extends "mailings/base.html" %}

{% block title %}Детали попытки рассылки{% endblock %}

{% block content %}
<div class="container">
    <h2>Детали попытки рассылки</h2>
    <dl class="row">
        <dt class="col-sm-3">Дата и время попытки</dt>
        <dd class="col-sm-9">{{ mailing_attempt.attempt_time }}</dd>

        <dt class="col-sm-3">Статус попытки</dt>
        <dd class="col-sm-9">
            {% if mailing_attempt.status == 'success' %}Успешно{% elif mailing_attempt.status == 'failure' %}Не успешно{% endif %}
        </dd>

        <dt class="col-sm-3">Ответ почтового сервера</dt>
        <dd class="col-sm-9">{{ mailing_attempt.server_response|default:"Нет ответа" }}</dd>

        <dt class="col-sm-3">Рассылка</dt>
        <dd class="col-sm-9">
            <a href="{% url 'mailing_detail' mailing_attempt.mailing.pk %}">{{ mailing_attempt.mailing.title }}</a>
        </dd>
    </dl>
    <a href="{% url 'mailingattempt_update' mailing_attempt.pk %}" class="btn btn-warning">Редактировать</a>
    <a href="{% url 'mailingattempt_list' %}" class="btn btn-secondary">Назад к списку</a>
</div>
{% endblock %}
