{% extends "mailings/base.html" %}

{% block title %}Список рассылок{% endblock %}

{% block content %}
<div class="container">
    <h2>Список рассылок</h2>
    <a href="{% url 'mailings:mailing_create' %}" class="btn btn-primary mb-3">Создать новую рассылку</a>
    <ul class="list-group">
        {% for mailing in object_list %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ mailing.title }}
                <div>
                    <a href="{% url 'mailings:mailing_detail' mailing.pk %}" class="btn btn-info btn-sm">Просмотреть</a>
                    <a href="{% url 'mailings:mailing_update' mailing.pk %}" class="btn btn-warning btn-sm">Редактировать</a>
                    <a href="{% url 'mailings:mailing_delete' mailing.pk %}" class="btn btn-danger btn-sm">Удалить</a>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item">Нет рассылок для отображения.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
